/*
 * Paper
 */

@import '@/theme/variables.module';
@import '@/theme/mixins.module';

.paper {
  padding: $spacer;
  border-radius: $radius;
  background-color: $white;
  box-shadow: 0 5px 10px -5px rgba($black, 20%);

  @include breakpoint('desktop') {
    padding: calc($spacer * 2);
  }
}